---
import GradiantSeparator from '../ui/GradiantSeparator.astro'
---

<!-- DARIDEV: section added -->
<section
  id='hero'
  class:list={[
    'relative',
    'h-[30vh] sm:h-[40vh] md:h-[60vh] lg:h-screen',
  ]}
>
  <!-- DARIDEV: gradiants in hero instead of header
   (with component) in order to have top and bottom gradient -->
  <!-- Gradiant bg top top -->
  <GradiantSeparator class='top-0' />

  <!-- Image bg -->
  <div
    class:list={[
      'absolute',
      'inset-0',
      // DARIDEV: Image in 'images' folder
      "bg-[url('/images/hero.webp')]",
      'bg-cover',
      'bg-center',
      'bg-no-repeat',
      '-z-10',
      'animate-pulse'
    ]}
  />

  <!-- Blac background -->
  <div
    class:list={[
      'absolute',
      'inset-0',
      'bg-black',
      '-z-20',
    ]}
  />

  <!-- Gradiant bg top top -->
  <GradiantSeparator class='bottom-0 rotate-180' />
</section>
