---
console.log("Hero");
---

<div
  class:list={[
    "absolute",
    "inset-0",
    "bg-[url('/surface_moon_hero_mobile.png')] lg:bg-[url('/surface_moon_hero.png')]",
    "bg-cover",
    "bg-center",
    "bg-no-repeat",
    "z-[-10]",
  ]}
>
</div>
