---
// Components
import SpecialOffers from '../sections/SpecialOffers.astro'
import MenuItems from '../sections/MenuItems.astro'

// Libs
import { getMenuCategories, getMenuItems } from "../../lib/api/menu";
import { structureMenuData } from "../../lib/utils/formatmenu";

// Get data from api
const categoriesFromApi = await getMenuCategories();
const allItemsFromApi = await getMenuItems();
const formattedMenu = structureMenuData(categoriesFromApi, allItemsFromApi);

const specialOffersData = {
  smallsubtitle: 'Menu',
  products: [
    {
      name: 'Try Our Special Offers',
      price: 10,
      description:
        "Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content making it look like readable English.",
      image: {
        src: '/images/durazno.webp',
        alt: 'Pastel con duraznos',
      },
    },

    {
      name: 'Try Our Special Offers',
      price: 10,
      description:
        "Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content making it look like readable English.",
      image: {
        src: '/images/durazno.webp',
        alt: 'Pastel con duraznos',
      },
    },
  ],
}
---

<div
  class:list={[
    'container',
    'mx-auto',
    'py-16',
    'grid',
    'grid-cols-1 md:grid-cols-3',
    'gap-16',
    'justify-center md:justify-start',
    'items-center md:items-start',
  ]}
  id="menu"
>
  <div class:list={['md:col-span-1']}>
    <SpecialOffers
      smallsubtitle={specialOffersData.smallsubtitle}
      products={specialOffersData.products}
    />
  </div>

  <div class:list={["flex", "flex-col", "gap-12", "md:col-span-2", "pt-14"]}>
    {
      formattedMenu.map((menuSection) => (
        <MenuItems title={menuSection.title} items={menuSection.items} />
      ))
    }
  </div>
</div>
