---
import Subtitle from '../ui/Subtitle.tsx'
import SpecialOffer from '../ui/SpecialOffer.astro'

interface Product {
  name: string
  description: string
  price: number
  image: {
    src: string
    alt: string
  }
}

interface Props {
  products?: Product[]
  class?: string
}

const { products = [], class: className = '' } = Astro.props

// DARIDEV: section styles removed
// const sectionStyles = ['max-w-md', 'mx-auto', 'bg-white', 'pt-0', className]
---

<section class:list={['max-w-md', 'mx-auto', 'bg-white', 'pt-0', className]}>
  <!-- DARIDEV: title demoved and placed in main component -->

  <Subtitle ish2={true} className={'my-6'}>Try or special offers</Subtitle>

  {
    products.map((product) => (
      <div data-aos='zoom-in-up'>
        <SpecialOffer
          name={product.name}
          description={product.description}
          image={product.image}
        />
      </div>
    ))
  }
</section>
