---
// Components
import SpotifyIframe from '../ui/SpotifyIframe.astro'

// Data
const spotifyPlaylistId = '37i9dQZF1DX0XUsuxWHRQd'
const spotifyEmbedUrl = `https://open.spotify.com/embed/playlist/${spotifyPlaylistId}?utm_source=generator&theme=0`
---

<section
  class:list={[
    'bg-black',
    'text-white',
    'py-16',
    'px-4',
    'relative',
    'overflow-hidden',
    'container',
  ]}
>
  <div class:list={['flex', 'justify-center', 'mb-12']}>
    <div
      class:list={[
        'w-full',
        'max-w-5xl',
        'rounded-3xl',
        'overflow-hidden',
        'shadow-lg',
      ]}
    >
      <SpotifyIframe spotifyEmbedUrl={spotifyEmbedUrl} />
    </div>
  </div>
</section>
