---
// Fornts
import '@fontsource-variable/plus-jakarta-sans'
import '@fontsource-variable/montserrat'
import '@fontsource-variable/ballet'

// Global styles
import '../styles/global.css'

// Components
import Header from '../components/sections/Header'
import Footer from '../components/sections/Footer.astro'
import AOSInit from '../components/utils/AOSinit'

// Utils
import Posthog from '../components/utils/posthog.astro'
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <link
      rel='preconnect'
      href='https://fonts.googleapis.com'
    />
    <link
      rel='preconnect'
      href='https://fonts.gstatic.com'
      crossorigin
    />
    <meta
      name='generator'
      content={Astro.generator}
    />

    <!-- Umami Analytics -->
    <script
      defer
      src='https://umami.apps.darideveloper.com/script.js'
      data-website-id='545dd23e-4287-42f5-939e-e091fc484934'
    ></script>

    <!-- Google tag (gtag.js) -->
    <script
      async
      src='https://www.googletagmanager.com/gtag/js?id=G-KD3KNVH65H'
    ></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];  
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'G-KD3KNVH65H');
    </script>
    <script src="https://openpanel.dev/op1.js" defer async></script>

  </head>
  <body>
    <!-- Start aos -->
    <AOSInit client:load />
    <Header client:load />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
