---
interface Props {
  class: string
}

const { class: className } = Astro.props as Props
---

<div
  class:list={[
    'absolute',
    'left-0',
    'bg-gradient-to-t',
    'from-transparent',
    'to-black',
    'z-10',
    'w-full',
    'h-1/4',
    className
  ]}
>
</div>
