---
import SmallSubtitle from "../ui/SmallSubtitle.astro";

interface ScheduleDay {
  day: string;
  hours: string;
}

interface Props {
  title?: string;
  schedule?: ScheduleDay[];
  class?: string;
  lineClass?: string;
}

const {
  title = "WORKING HOURS",
  schedule = [
    { day: "Mon - Fri:", hours: "7:00am - 6:00pm" },
    { day: "Sat:", hours: "7:00am - 6:00pm" },
    { day: "Sun:", hours: "8:00am - 6:00pm" },
  ],
  class: className = "",
} = Astro.props;
---

<div class:list={["text-white", "text-center", "md:text-left", className]}>
  <SmallSubtitle iswhite={true} class:list={["text-center", "md:text-left"]}
    >{title}</SmallSubtitle
  >
  <br />

  {
    schedule.map((item) => (
      <div
        class:list={[
          "flex",
          "justify-center md:justify-start",
          "items-center",
          "mb-2",
        ]}
      >
        <span class:list={["text-brand-orange", "font-medium"]}>
          {item.day}
        </span>
        <span class:list={["text-white", "ml-2"]}>{item.hours}</span>
      </div>
    ))
  }
</div>
