---
interface Props {
  ish2?: boolean;
  iswhite?: boolean;
  class?: string;
}

const { ish2 = false, iswhite = false, class: className = "" } = Astro.props;

const baseStyles = ["tracking-tight"];
---

<div
  class:list={[
    "inline-block",
    "flex-col",
    "items-center md:items-start",
    className,
  ]}
>
  {
    ish2 ? (
      <h2 class:list={[...baseStyles, "font-bold", "text-2xl"]}>
        <slot />
      </h2>
    ) : (
      <h3
        class:list={[
          ...baseStyles,
          "font-semibold",
          "text-xl",
          iswhite ? "text-white" : "text-black",
          className,
        ]}
      >
        <slot />
      </h3>
    )
  }
</div>
